<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">



    <link href="Content/custom.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a709f526bf.js" crossorigin="anonymous"></script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")

</head>
<body>


<!-- Nav bar -->
@Html.Partial("_NavBar")




<section id="main">
    <div class="container-fluid">
        <div class="row">
            <div id="sidebar" class="col-2">
                
                @Html.Partial("_SideBar")

            </div>
            
            <div id="main_chamber" class="col">

                <div class="row">



                    <div id="list_chamber" class="col-6">


                        @RenderSection("Chamber", required: true)
                        




                    </div>



                    <div id="detail_chamber" class="col-5">


                        @RenderSection("DetailChamber", required: false)

                        

                    </div>


                    <div class="col-1">


                    </div>


                </div>


            </div>
            
            




        </div>


    </div>




</section>




<div>
    
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.2020 - My ASP.NET Application</p>
    </footer>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
@RenderSection("scripts", required: false)
</body>
</html>