<ul class="list-group">
    <li class="list-group-item active main_color_bg links" aria-current="true">@Html.ActionLink("Dashboard", "Index", "Home")</li>
    <li class="list-group-item">@Html.ActionLink("Orders", "OrdersByWarehouse/1", "Order") <span class="badge main_color_bg rounded-pill">14</span> </li>
    <li class="list-group-item" aria-current="true">Products</li>
    <li class="list-group-item">@Html.ActionLink("All Products", "Products", "Product") </li>
    <li class="list-group-item">@Html.ActionLink("Add a product", "ProductForm", "Product") </li>
    <li class="list-group-item" aria-current="true">Collections</li>
    <li class="list-group-item">@Html.ActionLink("All Collections", "Index", "Collection") </li>
    <li class="list-group-item">@Html.ActionLink("Add a Collection", "CollectionForm", "Collection") </li>
    <li class="list-group-item">Warehouses</li>
    <li class="list-group-item">@Html.ActionLink("All Warehouses", "Index", "Warehouse") </li>
    <li class="list-group-item">@Html.ActionLink("Add a Warehouse", "WarehouseForm", "Warehouse") </li>
</ul>



