@using DashboardApp.Models
@model Tuple<List<Order>,Order>


@{
    Layout = "/Views/shared/_Layout.cshtml";
    AjaxOptions ajaxoptions = new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "DetailChamber"

    };
}




@section Chamber
{


    @using (Ajax.BeginForm("RenderDetail", "Order",ajaxoptions,new { id = "UpdateForm" }))
    {

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">OrderId</th>
                    <th scope="col">Products</th>
                    <th scope="col">Country</th>
                    <th scope="col">ZipCode</th>
                </tr>
            </thead>
            <tbody>



                @foreach (var order in Model.Item1)
                {

                <tr>
                    <th scope="row">@Html.ActionLink(@order.OrderId,$"OrdersByWarehouse/1/{@order.OrderId}","Order")</th>
                    <td>@order.Products</td>
                    <td>@order.Country</td>
                    <td>@order.ZipCode</td>
                </tr>

                }


            </tbody>
        </table>

    }


}

@section DetailChamber
{

    <div class="card" id="DetailChamber">
        <div class="card-body">

            @Html.Partial("_DetailChamber", Model.Item2)

            </div>
    </div>





}


