@{
    Layout = "/Views/shared/_Layout.cshtml";
}


@using InventoryApp.Models
@model List<Order>


@section Chamber
{

    <table class="table">
        <thead>
            <tr>
                <th scope="col">OrderId</th>
                <th scope="col">Street</th>
                <th scope="col">Country</th>
                <th scope="col">ZipCode</th>
            </tr>
        </thead>
        <tbody>



            @foreach (var order in Model)
            {

                <tr>
                    <th scope="row">@order.OrderId</th>
                    <td>@order.Street</td>
                    <td>@order.Country</td>
                    <td>@order.ZipCode</td>
                </tr>

            }


        </tbody>
    </table>

}

@section DetailChamber
{

    <div class="card">
        <div class="card-body">


            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Detail</th>
                        <th scope="col">Particulars</th>
                    </tr>
                </thead>
                <tbody>



                    @foreach (var order in Model)
                    {

                        <tr>
                            <th scope="row">Customer Name</th>
                            <td>@order.CustomerName</td>
                        </tr>

                        <tr>
                            <th scope="row">Customer Email</th>
                            <td>@order.CustomerEmail</td>
                        </tr>

                        <tr>
                            <th scope="row">Delivery Type</th>
                            <td>@order.DeliveryType</td>
                        </tr>

                        <tr>
                            <th scope="row">Delivery Partner</th>
                            <td>@order.DeliveryPartner</td>
                        </tr>

                    }


                </tbody>
            </table>


        </div>
    </div>



    
   
}


